@use '../base' as *;

.board {
    display: grid;
    $gt: repeat(var(--board-size, 8), minmax(60px, 1fr));
    max-width: 100%;
    grid-template: $gt / $gt;

    &.rotate-180 {
        rotate: 180deg;
    }

    
}
