@use '../base' as *;

.home {
    @include container;
    
    .menu {
        rotate: -45deg;
        display: grid;
        place-content: center;
        gap: 8px;

        .checker {
            width: 100px;
        }
    }
}
